*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    box-shadow: 2px 1px 2px 2px rgb(216, 210, 210);
}
body{
    font-family: poppins;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-right: 200px;
}
.logo p{
    margin-left: 5px;
    font-size: 12px;
    color: #545BE8;
    font-family: inter;
    font-weight: 700;
}
.logo img{
    width: 30px;
    height: 30px;
}
.nav-links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    gap: 30px;
   margin-right: 58px;
}
.nav-links{
    justify-content: center;
    align-items: center;
    align-content: center;
}
a{
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
    font-weight: 400;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    align-content: end;
    margin-left: 30px;
}
button{
    padding: 5px;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: end;
    justify-content: end;
    align-items: end;
    align-content: end;
    margin-left: 10px;
    margin-top:10px ;
    border: 5px;
    margin-bottom: 10px;
    border-radius: 7px;
    font-family: poppins;
    font-weight: 700;
}
.button-2{
    background-color: #545BE8;
    color: white;
}
.button-1{
    border: 1px solid #545BE8;
    color: #545BE8;
    background-color: white;
}
.hero{
    display: flex;
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    height: 100vh;
}
.head-text{
    margin-top: 50px;
    margin-left: 60px;
    flex-direction: column;
}
.head-text h1{
    font-size: 70px;
    width: 600px;
    margin-bottom: 15px;
}
.first-image img{
    width: 525px;
    height: 525px;
    margin-bottom: 20px;
    margin-right: 60px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: end;
    align-items: end;
}
.button2{ 
    margin-right: 250px;
}
.btn-1{
    background-color: #545BE8;
    color: white;
}
.btn-2{
    background-color: transparent;
}
.btn-2 button{
   
    align-content: center;
    align-items: center;
    text-align: center;
}
embed{
    margin-right: 4px;
    position: relative;
    top: 8px;
   width: 25px;
   height: 25px;
}
.p1{
color: #545BE8;
}
.p2 p{
    font-size: 17px;
    color: #969696;
}
.second-section{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.boxes{
    position: static;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: row;
    gap: 25px;
    padding-bottom: 35px;
}
.top p{
    position: relative;
    text-align: center;
    left: 350px;
    width: 190%;
    bottom: 140px;
    margin-bottom: 40px;
    font-size: 27px;
    z-index: -1;
}
.box-1{
    background: #545BE8;
    width: 250px;
    height: 240px;
    margin-top: 20px;
    color: white;
    padding: 20px;
    border-radius: 6px;
}
.teacher-2 p{
    font-size: 14px;
    margin-top: 20px;
}
.circle-1{
    background: white;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 26px;
}
.circle-1 img{
    width: 40px;
    height: 40px;
}
.box-2{
    background: #545BE8;
    width: 250px;
    height: 240px;
    margin-top: 20px;
    color: white;
    padding: 20px;
    padding-top: 20px;
    border-radius: 6px;
}
.box-3{
    background: #545BE8;
    width: 250px;
    height: 240px;
    margin-top: 20px;
    color: white;
    padding: 20px;
    padding-top: 20px;
    border-radius: 6px;
}
.course-2 p{
    font-size: 14px;
    margin-top: 20px;
}
.circle-2{
    background: white;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 26px;
}
.circle-2 img{
    width: 40px;
    height: 40px;
}
.learning-2 p{
    font-size: 14px;
    margin-top: 20px;
}
.circle-3{
    background: white;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 26px;
}
.circle-3 img{
    width: 40px;
    height: 40px;
}
.third-section{
    display: flex;
    background-color: #545BE8;
    height: 90vh;
}
.second-image img{
    width: 500px;
    height: 500px;
    margin-left: 70px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: end;
    align-items: end;
}
.content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 30px;
    color: white;
}
.stats{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 130px;
    margin-top: 50px;
    font-family: inter;
}
.stat-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 6px;
}
.stat-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 6px;
}
.stat-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 6px;
}
.p-1{
    color: #F0C932;
}
.content h1{
    font-size: 75px;
}
.para-1 p{
    font-size: 17px;
    color: #DDDDDD;
}
.boxes-1{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 100px;
}
.box1 img{
    width:300px ;
    height: 300px;
}
.box2 img{
    width:300px ;
    height: 300px;
}
.boxes-2{
    position: static;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.box3 img{
    width:300px ;
    height: 300px;
}
.box4 img{
    width:300px ;
    height: 300px;
}
.button3 button{
    width: 150px;
    background-color: #545BE8;
    color: white;
}
.content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.fourth-section{
    display: flex;
    flex-direction: column;
}
.available{
    color: #545BE8;
}
.available-courses h1{
    margin-top: 8px;
    width: 50px;
    font-size: 49px;
}
.para1 p{
    width: 450px;
    margin-top: 10px;
    font-size: 16px;
    color: #969696;
}
.testimonial h1{
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.card-1 img{
    width: 550px;
    height: 400px;
}
.card-2 img{
    width: 550px;
    height: 400px;
}
.logo-2{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.logo-2 p{
    margin-left: 5px;
    font-size: 13px;
    color: #FFFFFF;
    font-family: inter;
    font-weight: 600;
}
.logo-2 img{
    width: 35px;
    height: 35px;
}
footer{
    display: flex;
    background-color: #393E46;
    padding: 120px;
    color: #FFFFFF;
    height: 70vh;
}
.par-1{
    margin-top:20px;
    width: 500px;
    font-size: 19px;
    flex-direction: row;
}
.logos{
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.fb img{
    width: 40px;
    height: 40px;
}
.twitter img{
    width: 40px;
    height: 40px;
}
.linkedin img{
    width: 40px;
    height: 40px;
}
.ig img{
    width: 40px;
    height: 40px;
}
.second-p{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: center;
    margin-left: 130px;
    gap: 45px;
    font-weight: 100;
}
.home1 p{
   
}
.home-text ul li{
   gap: 40px;
   list-style: none;
}
.course1 p{
}
.course-text li{
    gap: 40px;
    list-style: none;
}
.article1 {
}
.Article-text li{
    gap: 40px;
    list-style: none;
}
.contact1 p{
}
.contact-text li{
    list-style: none;
}